:root {
    --principal: #7DCFFF;
}

.home {
    width: 99% !important;
}

.Doc a {
    width: 180px !important;
}

.doc .textarea #titulo {
    overflow-y: clip;
    width: 120%;
    height: 20px;
    text-align: center;
}

.doc {
    width: 53%;
}

/* .doc #formulario .textarea label{


} */