:root {
    --principal: #7DCFFF;
}

/* TABLAS HOVER */
.tablas tbody tr:hover {
    /* Cambiar el box-shadow por el color principal pero mas oscuro */
    box-shadow: 4px 6px 0px 0px #2e99d6; 
}



.home {
    width: 99% !important;
}

.Doc a {
    width: 180px !important;
}
/* 
.doc .textarea #titulo{
    
    width: 100%;
    height: 22px;
    text-align: center;
}

.doc .textarea #titulo:hover {
        
        color: var(--principal); 
        background-color: var(--principal); 
        border: 1px solid ;
}

.doc .textarea #titulo2{
    overflow-y: clip;
    width: 100%;
    height: 22px;
    text-align: center;
}

.doc .textarea #descrip2{
    
    overflow: visible;
    width: 89%;
    text-align: center;
    margin-left: 31px;
   
}

.doc .textarea #descrip1{
    margin-top: -20%;
    padding-left: 43px
} */

.doc {
    width: 53%;
}


/* .doc #descripcion{
    width: 80%;
} */

.doc .file {
    align-items: center;

}

.doc .enviar{
    margin-left: 330px;
}


@media (max-width:1100px) {
    .doc .enviar{
        margin-left: 122px;
        padding-left: 43px
    }  

    .doc .descrip {
   
      width: 0;
    }
}

/* .doc #formulario .textarea label{


} */

.decoracion1 {
    align-content: flex-start;
}

.registroPrimero {
    height: none !important;
}