@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


* {
    margin: 0;
    padding: 0;
}


:root {


    --beige: #FFFAF4;
    --azulClaro: #7dcfff;
    --azulOscuro: #0185B8;
    --naranja: #FFA269;
    --naranjaOscuro: #fe924f;
    --verde: #00BF63;
    --blanco: #fff;
    --negro: #000000;
    --gris: #eaeaea;
    --grisOscuro: #cbcbcb;
    /* Colores para clasificar las calificaciones */
    --verde5: #96ff7c;
    --amarillo3: #ffff6c;
    --rojo1: #ff4242;
}


body {
    font-family: 'Montserrat', sans-serif;
}

/* Estilo titulo: Calificaciones */
.titulo {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

/* Diseño del boton "Filtro" */
.boton button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--grisOscuro);
    border: var(--grisOscuro);
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.boton :hover {
    background-color: var(--naranja);
    box-shadow: 0 0 12px var(--naranja);
}

.boton img {
    padding-left: 3px;
    height: 18px;
}

/* Tanto el boton como las listas o el filtro va a ocupar el 80% */
.desplegable {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

/* Desaparecer listas o filtros */
.listas {
    width: 100%;
    display: none;
}

/* Aparecer listas o filtros */
.show {
    display: flex;
}

/* Del 100% del div, los 4 ocupen el 25% */
.asignaturas,
.estado {
    width: 50%;
}

.asignaturas section,
.estado section {
    padding-left: 40px;
    /* Quede alineado con la palabra filtro */
    padding-top: 10px;
    /* Se separe del boton filtro */
}

/* Salga la linea debajo de cada seccion, ej:asignatura */
.asignaturas p,
.estado p {
    width: 50%;
    padding-bottom: 3px;
    border-bottom: var(--negro) solid 1px;
}

/* La lista de opciones se alinee con la seccion */
.asignaturas .input,
.estado .input {
    display: block;
    padding-left: 40px;
    padding-top: 5px;
    color: var(--negro);
}

/* Le quita el boton de type=radio, se define el alto y ancho para seleccionar la palabra */
.input input {
    position: absolute;
    height: 10%;
    width: 10%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

/* Efecto de movimiento, permite que la trancision no sea tan brusca*/
input:checked+.radio {
    transform: scaleX(1.1);
    transition: all 300ms ease;
}

/* La letra cambia de color al ser seleccionada, y se mueve */
input:checked+.radio label {
    color: var(--naranja);
    padding-left: 25px;
}
/* Se acaba el div desplegable */


/* Empieza diseños de la tabla */
#tabla {
    width: 80%;
    margin: 0 auto;
    overflow: scroll;
}

thead {
    text-align: center;
    background-color: var(--naranja);
    border-bottom: solid 3px var(--naranjaOscuro);
}

thead th {
    border: solid 1px var(--naranjaOscuro);
}

table {
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    width: 160px;
}

/* Hijos pares */
tr:nth-child(even) {
    background-color: var(--grisOscuro);
}

tr:hover td {
    background-color: var(--naranja);
    color: var(--blanco);
}

.nota {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nota5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--verde5);
}

#nota3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--amarillo3);
}

#nota1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--rojo1);
}

table a {
    display: flex;
    justify-content: center;
    align-items: center;
}