:root {
    --principal: #FFA269;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    margin-bottom: 0;
}

h2,
h3 {
    font-weight: 700;
}



/* Estilos INTEGRANTES  */
/* Filtro */
.filtro {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 5px 0 15px 10px;
    margin-top: 20px;
}

.filtro-inputs .fieldset_view {
    width: 100%;
    margin-bottom: 0;
    margin-top: 4px;
}

.filtro-inputs .fieldset_view .fieldset {
    margin-bottom: -5px;
    justify-content: left;
    width: 100%;
    position: relative;
    margin-top: 6px;
}

.filtro-inputs .fieldset_view .fieldset input {
    margin-left: -294px;
    width: 95%;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* background-color: #fa5e00; */
}

.filtro-inputs .fieldset_view .fieldset input:focus {
    margin-left: -294px;
    width: 95%;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


.filtro-inputs {
    display: flex;
    justify-content: left;
    align-items: end;
}


.filtro-inputs .buscador {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.filtro-inputs .buscador .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro-inputs .buscador button,
.filtro-inputs .buscador a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 10px 10px 0 0;
}

.filtro-inputs .buscador button:hover,
.filtro-inputs .buscador a:hover {
    background-color: var(--principal);
    filter: brightness(1);
}

h4.errorFiltro  {
    width: 95%;
    margin: 0 auto;
    font-size: 80%;
}

/* Cards */
/* h3.texto {
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: left;
    text-transform: capitalize;
} */

/*  */

/* Fin Estilos INTEGRANTES  */

/* Estilos OBSERVADOR  */
#observador {
    width: 95%;
    margin: 0 auto;
}

#observador .card-usu {
    text-align: left;
    font-size: 14px;
    position: relative;
    border-radius: 20px;
    box-shadow: 4px 6px 7px 0px #d6d6d6;
}

#observador .card-usu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: var(--principal);
    border-radius: 20px 0 0 20px;
}

#observador .card-usu .card-body {
    margin-left: 10px;
    padding: 22px;
}

#observador .card-usu h5 {
    font-weight: 700;
}

#observador .card-usu p {
    font-size: 14px;
}

#observador .card-usu hr {
    width: 100%;
    background-color: var(--grisClaro);
}

#observador .card-usu .usuario {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: -7px;
    margin-top: 14px;
    height: 20px;
}

#observador .card-usu .usuario img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Fin Estilos OBSERVADOR  */


/* Estilos Generales Tablas */

/* Estilos Especificos Tablas */
/* Tareas */

/* TD - "Docente" */
.tablas tbody tr td:nth-child(2) {
    width: 200px;
}

.tablas tbody tr td .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablas tbody tr td .row .imgDoc img {
    max-width: 50%;
    border-radius: 50%;
}

.tablas tbody tr td .row .textDoc p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -80%;
    text-align: center;
}


/* TD - "Estado" */
.tablas tbody tr td.estado p {
    margin-left: 18px;
    margin-bottom: 0;
}

/* Pendiente - rojo */
.tablas tbody tr td.estado.pendiente {
    position: relative;
    text-transform: capitalize;
}

.tablas tbody tr td.estado.pendiente::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--rojo);
}

/* Entregada - verde */
.tablas tbody tr td.estado.entregada {
    position: relative;
    text-transform: capitalize;
}

.tablas tbody tr td.estado.entregada::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--verde);
}


/* TD "Ver más" */
.tablas tbody tr td img.verMas {
    width: 25px;
    margin: 0 10px;
    background-color: var(--grisClaro);
    transform: rotate(90deg);
    opacity: 0.5;
    border-radius: 10px;
}

/* TD "Calificacion" */
/* .tablas tbody tr td.calificacion {
    text-align: center;
} */

/* Hover */
.tablas .table-hover tbody tr {
    /* REVISAR BOX SHADOW */
    /* box-shadow: 4px 6px 7px 0px #8a8a8a; */
    box-shadow: 4px 6px 7px 0px #d6d6d6;
    border-radius: 21px;
}

.tablas .table-hover tbody tr.Inactivo {
    background-color: var(--grisClaro);
    filter: brightness(0.9);
}


.tablas .table-hover tbody tr:hover td {
    background-color: var(--principal);
    /* box-shadow: 0px 2px 0 0  #fa5e00; */
    box-shadow: 4px 6px 0px 0px #fa5e00;
    font-weight: 700;
    filter: saturate(105%);
}

/* Compañeros */
.tablas tbody tr td img {
    width: 60px;
    border-radius: 50%;
    border-radius: 50%;
}


/* Media Queries */
/* Phone */
@media screen and (min-width: 300px) and (max-width: 768px) {
    .tablas tbody tr td .row .imgDoc {
        text-align: center;
    }

    .tablas tbody tr td .row .textDoc p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
}