:root {
    --principal: #FFA269;
}

/* Revisar las propiedades, para que me deje colocar el texto a la izq */

section{
    display: block;
    text-align: start;
}


section h2{
    display: flex;
    justify-content: center;
    align-items: center;
}


section .borde{
    width: 80%;
    border: 2px solid black;
    text-align: left;
}

section h3{
    text-align: left;
    margin: 0;
    font-size: 40px;
    background-color: #FFA269;
}

/* .contenedor .info{

} */