@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


html {
    overflow-x: hidden;
}


:root {
    --blanco: #fff;
    --beige: #FFFAF4;
    --grisClaro: #eaeaea;
    --gris: #cbcbcb;
    --grisOscuro: #8a8a8a;
    --azulClaro: #7dcfff;
    --azul: #0185B8;
    --azulOscuro: #2F5494;
    --rojo: #ff2222;
    --verde: #00E640;
    --negro: #000000;
}

body {
    background-color: var(--blanco);
}


/* Estilo general para formularios */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--blanco);
    border-radius: 20px;
    padding: 20px;
}

.formulario h3 {
    margin: 20px;
    font-size: 25px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila-cont .fieldset {
    margin: 10px;
}

.fila-cont .fieldset_view {
    margin: 10px;
}

.fieldset {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}

.fieldset input {
    position: relative;
    z-index: 9;
    width: 95%;
    height: 78%;
    margin-left: -295px;
    margin-bottom: 2px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    background-color: transparent;
    padding-left: 15px;
}

.fieldset input:focus {
    border: none;
    outline: none;
    margin-top: 8px;
}

.fieldset input:focus::placeholder {
    color: transparent;
}

.fieldset fieldset {
    border-radius: 20px;
    height: 80%;
    width: 100%;
    border: var(--grisOscuro) 2px solid;
    background-color: transparent;
}

.fieldset legend {
    position: relative;
    z-index: 10;
    text-align: start;
    margin-left: 15px;
    padding: 0px 4px 0px 4px;
    color: var(--principal);
    display: none;
    font-size: 15px;
}

.fieldset fieldset:has(~ input:focus) {
    border: var(--principal) 2px solid;
    height: 95%;
}

/* Clase fieldset_view para los select*/
.fieldset_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 60px;
    width: 300px;
    margin-bottom: 10px;
}

.fieldset_view label {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--grisOscuro);
}

.fieldset_view select {
    width: 100%;
    height: 70%;
    border-radius: 20px;
    border: var(--grisOscuro) 2px solid;
    font-size: 15px;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
}

.fieldset_view select:focus {
    border: var(--principal) 2px solid;
    outline: none;
}

.fieldset_view label:has(~ select:focus) {
    color: var(--principal);
}

/* Estilos para input file */
#formulario .file {
    height: 60px;
    width: 300px;
    margin-bottom: 10px;
}

#formulario .file label {
    color: var(--grisOscuro);
    font-size: 15px;
    padding-left: 10px;
}

#formulario .file label:has(~ textarea:focus) {
    color: var(--principal);
}

.formulario input[type="file"]{
    border: 2px solid var(--grisOscuro);
    border-radius: 20px;
    width: 300px;
    height: 40px;
    padding: 0px;
}

#formulario input[type="file"]::-webkit-file-upload-button {
    background-color: var(--gris);
    border: 1px solid var(--gris);
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 20px;
}

#formulario input[type="file"]::-webkit-textfield-decoration-container {
    color: var(--principal);
}

#formulario input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--principal);
    border: 1px solid var(--principal);
}


/* Estilos para input textarea */
#formulario .textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
}

#formulario .textarea label {
    color: var(--grisOscuro);
    padding-left: 10px;
}

#formulario .textarea label:has(~ textarea:focus) {
    color: var(--principal);
}

#formulario textarea {
    width: 280px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid var(--grisOscuro);
    padding: 10px;
    overflow-y: scroll;
    resize: none;
    font-size: 16px;
    background-color: transparent;
}

#formulario textarea:focus {
    border-color: var(--principal);
    outline: none;
}

/* 
::-webkit-scrollbar: Aplica estilos a la barra de desplazamiento en sí, incluyendo el área que rodea al pulgar y las áreas de los botones de desplazamiento.
::-webkit-scrollbar-button: Aplica estilos a los botones de desplazamiento, como los botones de arriba y abajo.
::-webkit-scrollbar-thumb: Aplica estilos al pulgar de la barra de desplazamiento, que es la parte que el usuario arrastra para desplazar el contenido.
::-webkit-scrollbar-track: Aplica estilos a la pista o el área de fondo detrás del pulgar de la barra de desplazamiento.
::-webkit-scrollbar-track-piece: Aplica estilos a la sección de la pista que no está ocupada por el pulgar.
::-webkit-scrollbar-corner: Aplica estilos a la esquina formada por la unión de las pistas horizontal y vertical.
::-webkit-resizer: Aplica estilos al manejador de redimensionamiento en las esquinas de un elemento que es redimensionable.
*/

.formulario textarea::-webkit-scrollbar {
    width: 20px;
}

.formulario textarea::-webkit-scrollbar-thumb {
    background: var(--grisOscuro);
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 50px;
}

.formulario a {
    margin: 20px;
    text-decoration: none;
    color: var(--grisOscuro);
}

.formulario a:hover {
    color: var(--principal);
}

.fila-cont .radio {
    margin: 10px 50px 10px 10px;
}

.radio {
    text-align: start;
}

.radio p {
    font-weight: bold;
}

/* Estilos de romularios de filtro */
#filtro {
    display: none;
    margin-bottom: 20px;
    transition: 1s;
    width: 95%;
}

.cont-filtro {
    background-color: var(--blanco);
    width: 650px;
    border-radius: 30px;
    position: relative;
    z-index: 90;
    padding: 20px;
    box-shadow: 0 0 10px 5px var(--gris);
}

.cont-filtro::after {
    content: "";
    position: absolute;
    background-color: var(--blanco);
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    top: -15px;
    left: 30px;
    z-index: -200;
}

#filtro form {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}

.fila-cont button {
    margin: 10px;
}

.fila-cont a {
    margin: 10px;
}

/* Clase button filtrar */
.filtrar {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--gris);
    color: var(--negro);
    border: var(--gris) 2px solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.filtrar:hover {
    filter: brightness(0.9);
}

/* Clase del button submit */
.enviar {
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--principal);
    color: var(--negro);
    border: var(--principal) 2px solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.enviar:hover {
    filter: brightness(0.9);
}

/* Id para el texto que se muestra al verse un error */
#texto {
    text-align: center;
    visibility: hidden;
    color: var(--rojo);
    margin-bottom: 10px;
    width: 300px;
}

/* Texto que acompaña el formulario como un "tip" */
.recordatorio {
    color: var(--negro);
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

/* Fin estilo general para formularios */


/* Estilos barra de navegación principal (.nav-pri)*/
.nav-pri {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.nav-pri .menu {
    display: none;
}

.nav-pri .menu button {
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--grisClaro);
    border: var(--grisClaro) solid 2px;
    cursor: pointer;
}

.nav-pri .menu button:hover {
    background-color: var(--principal);
}

#menu .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

#menu .logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 100%;
}

#menu .logo img {
    width: 40px;
}

#menu .logo h1 {
    margin-left: 10px;
    font-size: 16px;
    color: var(--negro);
    text-align: center;
}

.nav-pri .buscar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-pri .buscar form {
    display: flex;
    align-items: center;
}

.nav-pri .buscar input {
    width: 50vw;
    height: 30px;
    border-radius: 50px;
    border: var(--negro) 2px solid;
    padding-left: 15px;
    background-color: transparent;
}

.nav-pri .buscar button {
    border-radius: 40px;
    margin-left: -35px;
    width: 30px;
    border: none;
    background-color: transparent;
}

.nav-pri .buscar button:hover {
    cursor: pointer;
    background-color: var(--grisClaro);
}

.nav-pri .user {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.nav-pri .user button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--blanco);
    border: var(--blanco) solid 2px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px var(--gris);
    transition: 0.3s;
}

.nav-pri .user button:hover {
    background-color: var(--principal);
    border: var(--principal) solid 2px;
}

.nav-pri .user button p {
    font-size: 14px;
}

.nav-pri .user button img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

.nav-pri #op1 {
    display: none;
    position: absolute;
    top: 80px;
    background-color: var(--blanco);
    border-radius: 20px;
    z-index: 999;
    width: 200px;
}

.nav-pri #op1 ul {
    list-style: none;
}

.nav-pri #op1 ul li {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s;
}

.nav-pri #op1 ul li img {
    margin: 5px 20px;
}

.nav-pri #op1 ul li:hover {
    background-color: var(--principal);
}

.nav-pri #op1 ul li a {
    text-decoration: none;
    color: var(--negro);
    font-size: 15px;
    display: flex;
    align-items: center;
}

.nav-pri #op1 ul li a img{
    margin-right: 5px;
}

/*Fin estilos barra de navegación principal (.nav-pri)*/

/* Estilos del aside / main / nav-main  */
.aside-main {
    display: flex;
}

aside {
    display: flex;
    width: 280px;
    height: 99vh;
    min-height: 700px;
    background-color: var(--blanco);
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    /* filter: brightness(0.9); */
    /* border: 3px solid var(--principal); */
}

.asideImgAdmin {
    width: 280px;
    height: 250px;
    background-image: url('../img/asideAdmin.svg');
    background-size: cover;
}

.asideImgDoc {
    width: 280px;
    height: 250px;
    background-image: url('../img/asideDocente.svg');
    background-size: cover;
}


.asideImgEstu {
    width: 176px;
    height: 148px;
    background-image: url(../img/asideImgEstu.svg);
    background-size: cover;
    transform: scaleX(-1);
}

#liRol {
    margin-top: 15px;
    width: 90%;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

aside ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;

}

aside ul li {
    width: 100%;
}

aside ul li a {
    display: flex;
    text-decoration: none;
    color: var(--negro);
    font-size: 15px;
    width: 99%;
    height: 50px;
    align-items: center;
    transition: 0.3s;
}

aside ul li a:hover {
    font-weight: bold;
    border-right: 6px solid var(--principal);
    background-color: var(--principalOpaco);
    transform: scale(1.03);
}

.activeA {
    font-weight: bold;
    border-right: 8px solid var(--principal);
    background-color: var(--principalOpaco);
}

aside ul li a img {
    padding-right: 10px;
    width: 30px;
    margin-left:30px ;
}

aside ul li button {
    display: flex;
    width: 180px;
    height: 30px;
    padding-left: 10px;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
}

aside ul li button img {
    width: 30px;
    padding-right: 5px;
}

aside .cont-desplegar {
    display: none;
    border-left: var(--principal) 4px solid;
    margin: 0px 0px 5px 10px;
}

aside .cont-desplegar ul li {
    margin-top: 5px;
}

aside .cont-desplegar ul li a {
    width: 150px;
}

aside ul li button:hover {
    background-color: var(--principal);
}

main {
    width: calc(100% - 280px);
    height: 99vh;
    min-height: 700px;
    background-color: var(--grisClaro);
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 3px solid var(--principal); */
}

.nav-main {
    padding: 10px 0px;
    background-color: var(--grisClaro);
    margin-left: 20px;
}

.nav-main a {
    text-decoration: none;
    color: var(--negro);
}

.nav-main a:hover {
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

section h2 {
    width: 98%;
    text-align: start;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
}

section h3 {
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 24px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin: 10px 0 10px 0;
    background-color: var(--gris);
    border: 1px solid var(--gris);
}

.info-footer {
    text-align: center;
}

.info-footer p {
    text-align: center;
    font-size: 10px;
}

/* Fin estilos del aside / main / nav-main */

/* Estilos para mediana pequeña de aside / main / nav-main */
@media (max-width: 960px) {

    aside {
        display: none;
        position: absolute;
        background-color: var(--blanco);
        z-index: 1000;
        margin-top: 70px;
        height: 90vh;
    }

    main {
        width: 100%;
        height: 99vh;
        border-radius: 20px;
        margin: 0px 15px 0px 15px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    footer {
        padding-left: 0;
    }

    .nav-pri .menu {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .nav-pri .menu button {
        display: flex;
    }

    /* .logo {
        width: 60px;
    } */

    /* .logo h2 {
        display: none;
    } */

    .nav-pri .user button p {
        display: none;
    }

    .nav-pri .user button {
        width: 50px;
    }

    .nav-pri .user button img {
        margin: 0;
    }

    .nav-pri .buscar {
        display: none;
    }
}

/* Fin Estilos para pantalla mediana de aside / main / nav-main */

.contenedor {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor a {
    text-decoration: none;
    color: var(--negro);
    width: 150px;
    padding: 25px;
    margin: 20px;
    border: var(--gris) 5px solid;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--blanco);
    box-shadow: 0px 0px 10px 2px var(--gris);
    transition: 0.3s;
}

.contenedor a img {
    padding-bottom: 20px;
    width: 35px;
}

.contenedor a p {
    font-weight: bold;
    font-size: 14px;
}

.contenedor a:hover {
    background-color: var(--principal);
    transform: scale(1.1);
}

.fila-cont {
    display: flex;
    align-items: end;
}

@media (max-width: 1080px) {
    .fila-cont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-pri .logo h1 {
        display: none;
    }
}

/* Clase para cambiar el display con ayuda de js */
.show {
    display: block !important;
}

/* Fin Clase para cambiar el display con ayuda de js */

/* Clase para acomodar los elementos en fila */
.fila {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colum {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

/*Fin Clase para acomodar los elementos en fila */

/* Estilos ACTUALIZAR DATOS PRIMERA VEZ */
.registroPrimero {
    height: 98vh;
}

.cont-regisPrimero {
    border: 2px solid var(--grisOscuro);
    border-radius: 20px;
    padding: 50px;
}

.cont-regisPrimero .formulario{
    width: 600px !important;
}

/* .form-regisPrimero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
} */

/* Fin Estilos ACTUALIZAR DATOS PRIMERA VEZ */

/* Estilos PERFIL USUARIO */
.perfil {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil .fotoNombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    background-color: var(--blanco);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px var(--gris);
    margin-right: 30px;
    height: 440px;
}

.fotoNombre .texto {
    margin-left: 20px;
}

.fotoNombre img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.texto p {
    margin-top: 10px;
    font-size: 20px;
}

.texto h4 {
    font-size: 24px;
}

.texto h5 {
    margin-top: 10px;
    font-size: 20px;
}

.perfilDerecha {
    background-color: var(--blanco);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px var(--gris);
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.perfilDerecha p {
    margin: 10px 0px 0px 0px;
    font-size: 12px;
    width: 300px;
}

.enlacesPerfil {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlacesPerfil a {
    text-decoration: none;
    color: var(--grisOscuro);
    font-weight: bold;
    padding: 20px 62px;
    margin: 10px;
    font-size: 14px;
    transition: 0.3s;
}

.enlacesPerfil a:hover {
    transform: scale(1.03);
    color: var(--negro);
    border-bottom: 2px solid var(--negro);
}

.activeP {
    color: var(--negro) !important;
    border-bottom: 2px solid var(--negro);
}

.perfil .formulario {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0;
}

.perfil .formulario .fieldset {
    margin-bottom: 20px;
}

@media (max-width: 1260px) {
    .perfil {
        flex-direction: column;
        margin-top: 20px;
    }

    .perfil .fotoNombre {
        padding: 40px 0;
        margin-right: 0px;
        height: auto;
        width: 416px;
        margin-bottom: 20px;
    }

    .fotoNombre img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .texto p {
        font-size: 16px;
    }

    .texto h4 {
        font-size: 24px;
    }

    .texto h5 {
        font-size: 16px;
    }

    .enlacesPerfil {
        margin-top: 20px;
    }

    .enlacesPerfil a {
        /* width: 400px; */
        padding: 5px 20px;
    }

    .formulario {
        width: 400px;
    }

}

/* Fin Estilos PERFIL USUARIO */


/* ESTILOS CABECERA */
.cabecera {
    position: relative;
    width: 95%;
    border: none;
}

.btn-cabecera {
    float: right;
    text-decoration: none;
    color: var(--negro);
    background-color: var(--principal);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.btn-cabecera:hover {
    filter: brightness(0.9);
}

.cabecera button {
    border: none;
    cursor: pointer;
}

.cabecera p {
    font-size: 18px;
}

.cabecera img {
    width: 26px;
}

/* FIN ESTILOS CABECERA */

/* Estilos para TARJETAS*/
.card-tarea {
    width: 70%;
    background-color: var(--blanco);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 5px var(--gris);
    margin: 20px 0;
    font-size: 12px;
}

.card-tarea .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header .info-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.card-tarea .card-info {
    width: 70%;
    display: flex;
    align-items: start;
    padding-bottom: 20px;
}

.card-tarea .card-info img {
    width: 25px;
    height: 25px;
    margin: 0 32px 0 5px;
}

.card-info h3 {
    text-align: left;
    margin-bottom: 5px;
}

.card-tarea .fechas#vencida {
    padding: 8px;
    border-radius: 10px;
    background-color: #ff222269;
    border: 2px solid #ff222242;
}


.card-tarea .fechas#proximo {
    padding: 8px;
    border-radius: 10px;
    background-color: #ffe92269;
    border: 2px solid #ffe92269;
}

.card-tarea .fechas#conTiempo {
    padding: 8px;
    border-radius: 10px;
    background-color: #77ff2269;
    border: 2px solid #77ff2269;
}


/* Estilos para entrega de tareas */

.card-tarea .card-formulario {
    padding: 0 60px 0 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card-tarea .card-formulario .formulario {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: inherit;
    font-size: 12px;

}

.card-formulario .formulario form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.card-tarea #formulario .textarea {
    width: 100%;
    height: 80px;
    border: 2px solid transparent;
    overflow-y: scroll;
    resize: none;
    font-size: 12px;
}


.card-tarea #formulario textarea {
    width: 90%;
    border-radius: 10px;
    border: 2px solid var(--grisOscuro);
    padding: 10px;
    overflow-y: scroll;
    resize: none;
    font-size: 12px;
    margin-top: 5px;
}

.card-tarea .card-info .fechas {
    padding: 8px;
    border-radius: 10px;
    background-color: var(--gris);
}


hr#fechas {
    width: 10px;
    margin: 10px;
    background-color: var(--grisOscuro);
    border: 1px solid var(--grisOscuro);
}

.card-tarea .card-archivos {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.card-tarea .archivos {
    width: 50%;
    height: 40px;
    background-color: var(--gris);
    margin: 0 10px 0 0;
}

.card-tarea .archivos a {
    /* text-decoration: none; */
    color: var(--negro);
}

.card-tarea .boton {
    /* width: 30%;
    margin-top: 107px; */
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.card-tarea .boton a {
    padding: 5px 10px;
    background-color: var(--principal);
    border: 2px solid var(--principal);
    text-decoration: none;
    color: var(--negro);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
}

.card-tarea .boton button {
    padding: 5px 10px;
    background-color: var(--principal);
    border: 2px solid var(--principal);
    text-decoration: none;
    color: var(--negro);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.card-tarea .boton img {
    width: 18px;
}

.card-tarea .boton a:hover {
    filter: brightness(0.9);
}

/*Fin Estilos para TARJETAS*/

/* Estilos MODAL */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #111111bd;
    display: none;
    z-index: 200;
}

.modal_container {
    width: 650px;
    background-color: var(--blanco);
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-cerrar {
    text-decoration: none;
    color: var(--negro);
    background-color: transparent;
    font-size: 14px;
    width: 25px;
    height: 25px;
    margin-left: 580px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

.btn-cerrar:hover {
    filter: brightness(1);
}

.show_modal {
    display: flex;
}

/* Fin estilos MODAL */


/* Estilos TABLAS */
/* Cosas a cambiar 
    1. La etiqueta table debe ir dentro de un div con la class="tablas"
    2. El box-shadow cuando hace hover
    3. Colocar en el ultimo TH y TD la class="ultimo"
    4. Estrutura table > thead - tr - th  > tbody - tr - td
*/

/* Espacio entre filas */

.tablas {
    /* display: flex; */
    /* padding: 0 0 0 20px; */
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
    background-color: transparent;
}

.tablas table {
    width: 95%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 18px;
    font-size: 80%;
}

/* THEAD - TH */
.tablas thead tr {
    background-color: #F9F9F9;
    text-align: left;
    vertical-align: middle;
    padding: 10px 15px;
}

.tablas thead tr th {
    padding: 10px 15px;
    background-color: transparent;
}

/* TBODY - TD */
.tablas tbody tr {
    background-color: var(--blanco);
    vertical-align: middle;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.tablas tbody tr td {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid transparent;
}

/* Redondeo los ultimos bordes generales */
.tablas thead tr th:nth-child(1),
.tablas tbody tr td:nth-child(1) {
    border-radius: 20px 0 0 20px;
}

/* Colocar en el ultimo TH y TD la class="ultimo" */
.tablas thead tr th.ultimo,
.tablas tbody tr td.ultimo {
    border-radius: 0 20px 20px 0;
}

.tablas a img {
    width: 20px
}

.tablas tr td a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: var(--negro);
}


/* TABLAS HOVER */
.tablas tbody tr:hover {
    background-color: var(--principal);
    /* Cambiar el box-shadow por el color principal pero mas ocurito */
    /* box-shadow: 4px 6px 0px 0px  #fa5e00;  */
    border-radius: 21px;
    transform: scale(1.01);
}

.tablas tbody tr:hover td {
    border: 1px solid var(--principal);
    background-color: var(--principal);
}

/* Fin Estilos TABLAS */

/* Estuilos opciones del main */

.opciones {
    width: 95%;
    margin: 20px 0;
    display: flex;
    justify-content: start;
}

.opciones a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: var(--negro);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--blanco);
    box-shadow: 0px 0px 10px 5px var(--gris);
    margin-right: 10px;
}

.opciones a img {
    width: 25px;
}

.opciones a:hover {
    background-color: var(--principalOpaco);
}

.opciones button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--blanco);
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px var(--gris);
    margin-right: 10px;
}

.opciones button:hover {
    background-color: var(--principalOpaco);
}

.opciones button img {
    width: 25px;
}

/* Fin estilos opciones del main */

/* ESTILOS TARJETAS CLASES ADMINISTRADOR */
.contClases{
    width: 1100px;
    text-align: right;
}

.cardClases{
    border: 2px solid var(--blanco);
    width: 322px;
    background-color: var(--blanco);
    box-shadow: 0px 0px 10px 5px var(--gris);
    margin: 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.cardClases:hover{
    transform: scale(1.03);
}

.cardClasesImg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cardClasesImg img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cardClasesImg p{
    margin-top: 10px;
    font-weight: bold;
}

.cardClasesInfo {
    margin: 20px;
}

.cardClasesInfo p{
    text-align: start;
}

.infoClase {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.infoImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--principalOpaco);
    opacity: 0.7;
    margin-right: 20px;
}

.infoImg img{
    width: 30px;
}

.infoTexto .tipo{
    font-size: 15px;
    color: var(--grisOscuro);
    text-align: start;
}

.cardClasesOpciones{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.cardClasesOpciones a{
    background-color: var(--gris);
    padding: 10px;
    margin: 0 30px;
    text-decoration: none;
    color: var(--negro);
    border: 1px solid var(--gris);
    border-radius: 20px;
}

.cardClasesOpciones a img{
    vertical-align: bottom;
}

.cardClasesOpciones a:hover{
    background-color: var(--principal);
    border: 1px solid var(--principal);
    /* filter: brightness(0.9); */
}

.filaClases {
    display: flex;
    align-items: end;
}

@media (max-width: 1370px) {
    .filaClases {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* FIN ESTILOS TARJETAS CLASES ADMINISTRADOR */