@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

:root {
    --beige: #FFFAF4;
    --azulClaro: #7dcfff;
    --azulOscuro: #0185B8;
    --naranja: #FFA269;
    --verde: #00BF63;
    --blanco: #fff;
    --negro: #000000;
    --rojo: #ff2222;
    --grisClaro: #eaeaea;
    --gris: #cbcbcb;
    --grisOscuro: #8a8a8a;
}

main {
    display: flex;
    height: 100vh;
    width: 400px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 300px;
}

.fieldset input {
    width: 95%;
    height: 70%;
    margin-left: -300px;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: transparent;
    padding-left: 15px;
}

.fieldset input:focus {
    border: none;
    outline: none;
    margin-top: 8px;
}

.fieldset input:focus::placeholder{
    color: transparent;
}

.fieldset fieldset {
    border-radius: 20px;
    height: 70%;
    width: 100%;
    border: var(--gris) 2px solid;
    background-color: var(--beige);
}

.fieldset legend {
    text-align: start;
    margin-left: 15px;
    padding: 0px 4px 0px 4px;
    color: var(--azulOscuro);
    display: none;
    font-size: 14px;
}

.fieldset fieldset:has( ~ input:focus) {
    border: var(--azulOscuro) 2px solid;
    height: 90%;
}

.fieldset_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    width: 300px;
}

.fieldset_view label {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--grisOscuro);
}

.fieldset_view select {
    width: 100%;
    height: 70%;
    border-radius: 20px;
    border: var(--gris) 2px solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: var(--beige);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.fieldset_view select:focus {
    border: var(--azulOscuro) 2px solid;
    outline: none;
}

.fieldset_view label:has( ~ select:focus) {
    color: var(--azulOscuro);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enviar:hover {
    filter: brightness(1.1);
}

.formulario a {
    margin: 20px;
    text-decoration: none;
    color: var(--grisOscuro);
}

.formulario a:hover {
    color: var(--azulOscuro);
}

.enviar{
    width: 300px;
    height: 42px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--azulOscuro);
    color: var(--blanco);
    border: var(--azulOscuro) 2px solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#texto{
    text-align: center;
    visibility: hidden;
    color: var(--rojo);
    margin-bottom: 10px;
    width: 300px;
}

.show {
    display: block !important;
}

.recordatorio {
    color: var(--negro);
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    width: 75%;
    text-align: justify;
}

.tabla{
    width: 90vw;
    background-color: var(--beige);
    padding: 10px;
    text-align: center;
}

.tabla table {
    width: 100%;
    border-right: 2px solid var(--negro)
}

.tabla td {
    padding: 10px;
    border-left: 2px solid var(--negro);
    border-bottom: 2px solid var(--negro);
}

.tabla table th{
    padding: 10px;
    border-left: 2px solid var(--negro);
    border-bottom: 2px solid var(--negro);
    background-color: var(--gris);
}