@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
    --principal: #2F5494;
}

section {
    height: 90vh;
    width: 400px;
    margin: auto;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 200px;
    margin: 2px;
}

.logo h1 {
    color: var(--principal);
    font-weight: bold;
    margin-top: 20px;
}

section p {
    margin-bottom: 10px ;
}

.submit {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bt-metodo {
    position: absolute;
    margin-left: 240px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.fieldset .bt-metodo:has( ~ input:focus) {
    margin-top: 10px;
}

.bt-metodo button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 7px 2px 2px 7px;
    border-radius: 0px 20px 20px 0px;
}

.bt-metodo button:hover {
    background-color: var(--grisClaro);
    cursor: pointer;
}

.bt-opcion {
    position: absolute;
    margin-left: 220px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

.bt-opcion button {
    border-color: 2px var(--grisClaro) solid;
    background-color: var(--beige);
    cursor: pointer;    
    padding: 7px 5px 2px 7px;
    display: none;
}

.bt-opcion button:hover {
    background-color: var(--grisClaro);
}

.submit a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--negro) !important;
    border-radius: 20px;
    padding: 0px 10px 0px 5px;
    height: 42px;
}

.submit a:hover {
    background-color: var(--gris);
}

.submit button {
    width: 150px;
    height: 42px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--principal);
    color: var(--blanco);
    border: var(--principal) 2px solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.submit button:hover {
    filter: brightness(1.1);
}

#texto {
    visibility: hidden;
    color: var(--rojo);
    margin-bottom: 10px;
    font-size: 12px;
}

.metodo {
    width: 80%;
}

.metodo button {
    border-radius: 10px;
    margin-left: -60px;
    background-color: var(--beige);
    cursor: pointer;
    border: var(--gris) 2px solid;
    font-family: 'Montserrat', sans-serif;
    color: var(--grisOscuro);
}

.tip{
    color: var(--grisOscuro);
    font-size: 12px;
    margin: 0px 0px 30px 0px;
    width: 75%;
}