:root {
    /* --principal: #00BF63; */
    --principal: #5FDA9F;
    --principalOpaco: #5fda9f94;
}


/* TABLAS HOVER */
.tablas tbody tr:hover {
    /* Cambiar el box-shadow por el color principal pero mas oscuro */
    box-shadow: 4px 6px 0px 0px #48a87a; 
}


