:root {
    --beige: #FFFAF4;
    --azulClaro: #7dcfff;
    --azulOscuro: #0185B8;
    --naranja: #FFA269;
    --verde: #5fda9f;
    --blanco: #fff;
    --negro: #000000;
    --rojo: #ff2222;
    --gris: #eaeaea;
    --grisOscuro: #cbcbcb;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.user button:hover {
    background-color: var(--verde);
    cursor: pointer;
}

#op1 ul li:hover {
    background-color: var(--verde);
}

aside ul li a:hover {
    background-color: var(--verde);
}

.contenedor {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor button {
    width: 250px;
    padding: 30px;
    margin: 20px;
    border: var(--verde) 5px solid;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}

.contenedor button img {
    padding-bottom: 20px;
    width: 50px;
}

.contenedor button p {
    font-weight: bold;
}

.contenedor button:hover {
    background-color: var(--verde);
}
